body{
	padding-top: 60px;
}
.awak{
	height: auto;
	min-height: 79vh;
}
.bg-custom{
	background-color: #212529;
}
.nav-item a{
	color:#fff;
}
.nav-item a:hover{
	color:#3cc1ff;
}
.navbar-brand{
	color:#3cc1ff;
}
.navbar-brand:hover{
	color:#0a94d5;
}

.salah{
	border: 2px solid red;
}

.bener{
	border: 2px solid green;
}

/* .form-control:focus{
	box-shadow: none;
	border-color: g!important;
} */
